doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Z👀M
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    link(rel="stylesheet" href="/public/styles/style.css") 
  body 
    header 
      h1 Z👀M
    main 
      div#welcome
        form
          input(placeholder="Room Name" type="text", required)
          button Enter Room 👋
          div#alertMsg 
      div#call
        div#myStream
          video#peerFace(autoplay, playsinline, width="400" height="300")
          video#myFace(autoplay, playsinline, width="400" height="300")
          div#mySetting
            select#cameras
            button#mute 🙊 
            button#camera 🙈
        div#message
          ul 
          form
            textarea(name="", cols="30", rows="3" placeholder="Message" type="text", required)
            button Send

    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")